<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>Arte e Software Tecnologia</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,200|Open+Sans+Condensed:700"
        rel="stylesheet">
    <link id="pagestyle" href="../assets/css/now-design-system-pro.css?v=2.2.0" rel="stylesheet">
    <link href="../assets/css/btn-whatsapp.css" rel="stylesheet">

    <meta property="og:title" content="Arte & Software - Sua Empresa Na Internet" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://aes.tec.br/images/home.png" />
    <meta property="og:url" content="https://aes.tec.br" />

</head>

<body class="desktop-app">
    <nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3 navbar-transparent">
        <div class="container"><a class="navbar-brand text-white" href="/" rel="tooltip"
                title="Designed and Coded by Arte & Software and Creative Tim" data-placement="bottom"><img
                    src="images/logo-aes-vetor-branco.svg" width="200" height="100%"></a><button
                class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon mt-2"><span
                        class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span
                        class="navbar-toggler-bar bar3"></span></span></button>
            <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
                <ul class="navbar-nav navbar-nav-hover mx-auto">
                    <li class="nav-item dropdown dropdown-hover mx-2"><a href="#servicos"
                            class="nav-link ps-2 d-flex justify-content-between align-items-center" role="button"
                            id="Account">Serviços</a></li>
                    <li class="nav-item dropdown dropdown-hover mx-2"><a href="#investimento"
                            class="nav-link ps-2 d-flex justify-content-between align-items-center" role="button"
                            id="Blocks">Investimento</a></li>
                    <li class="nav-item dropdown dropdown-hover mx-2"><a href="#contato"
                            class="nav-link ps-2 d-flex justify-content-between align-items-center" role="button"
                            id="Docs">Contato</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div class="page-header min-vh-50 bg-dark"></div>
        <div
            class="bg-gradient-primary shadow-lg position-relative mx-xxl-8 mx-xl-4 mx-lg-3 mx-3 py-7 z-index-2 border-radius-lg mt-n12 overflow-hidden">
            <div class="container position-relative">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5 col-md-7 text-start py-sm-5 me-auto position-relative">
                        <div class="position-relative">
                            <h2 class="text-white mt-sm-0" id="titulo1">Comece agora mesmo a conquistar mais clientes
                            </h2>
                            <p class="lead text-white mb-5">Ter presença na Internet é fundamental para conquistar e
                                manter clientes. Faça sua página conosco e ganhe uma série de vantagens. Somos uma
                                agência digital que faz TUDO. Pessoas de verdade o atendem, com velocidade e atenção.
                                Assim você pode cuidar exclusivamente do seu negócio.</p><a
                                href="https://wa.me/5511998417175" target="_blank"><button type="button"
                                    class="btn bg-gradient-dark">Comece Agora</button></a><a href="#servicos"><button
                                    type="button" class="btn btn-link text-white">Saiba Mais</button></a>
                        </div>
                    </div>
                    <div class="col-lg-7 position-absolute start-50 end-0 me-n12 w-75"><img
                            class="w-100 d-md-block d-none" src="../images/home.png" alt="arte e software"></div>
                </div>
            </div>
        </div>
    </header>
    <section class="py-lg-7 py-5" id="servicos">
        <div class="container">
            <div class="row">
                <div class="col-6 text-center mx-auto">
                    <h2>Nosso Serviços</h2>
                    <p>Com um baixo investimento colocamos sua empresa na Internet, de forma rápida e muito
                        profissional. Confira abaixo nosso pacote de serviços.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-6 col-lg-4 mt-lg-0 mt-4"><img class="width-48-px mb-3"
                        src="../assets/img/logos/small-logos/logo-human.svg" alt="human">
                    <h5>Atendimento Humano</h5>
                    <p class="text-sm me-2">Conosco você fala direto com quem faz as coisas. Não tem atendimento
                        automático onde você perde horas esperando.</p>
                </div>
                <div class="col-sm-6 col-lg-4 mt-lg-0 mt-4"><img class="width-48-px mb-3"
                        src="../assets/img/logos/small-logos/logo-ponto-br.svg" alt="asana">
                    <h5>Registro de domínio</h5>
                    <p class="text-sm me-2">Muitas empresas não têm nem seu endereço na Internet. Se esse for seu caso,
                        nós fazemos o registro no site registro.br.</p>
                </div>
                <div class="col-sm-6 col-lg-4 mt-lg-0 mt-4"><img class="width-48-px mb-3"
                        src="../assets/img/logos/small-logos/logo-logo.svg" alt="shopify">
                    <h5>Criação de logotipo</h5>
                    <p class="text-sm me-2">Se precisar de um logo para sua empresa, ou mudar o atual, conte conosco.
                        Você não paga a mais por esse serviço.</p>
                </div>
                <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4"><img class="width-48-px mb-3"
                        src="../assets/img/logos/small-logos/logo-redacao.svg" alt="invision">
                    <h5>Redação de textos</h5>
                    <p class="text-sm me-2">Redigimos textos publicitários que o ajudam a vender seus serviços ou
                        produtos. Apenas nos diga o que quer que preparamos tudo.</p>
                </div>
                <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4"><img class="width-48-px mb-3"
                        src="../assets/img/logos/small-logos/logo-pagina-web.svg" alt="slack">
                    <h5>Desenvolvimento web</h5>
                    <p class="text-sm me-2">Nossa especialidade. Temos modelos prontos que facilitam o processo. Deixe
                        que a gente seleciona o mais adequado para seu negócio</p>
                </div>
                <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4"><img class="width-48-px mb-3"
                        src="../assets/img/logos/small-logos/logo-whatsapp.svg" alt="webdev">
                    <h5>Botão do WhatsApp</h5>
                    <p class="text-sm me-2">A maioria das comunicações são pelo WhatsApp, para alinhar sua página com
                        essa facilidade criamos um botão que leva direto para seu número.</p>
                </div>
                <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4"><img class="width-48-px mb-3"
                        src="../assets/img/logos/small-logos/logo-hospedagem.svg" alt="hospedagem">
                    <h5>Gestão da Hospedagem</h5>
                    <p class="text-sm me-2">Temos servidores com total segurança e disponibilidade, ou seja, sua página
                        na Internet ficará segura e sempre disponível para seus clientes.</p>
                </div>
                <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4"><img class="width-48-px mb-3"
                        src="../assets/img/logos/small-logos/logo-qr-code.svg" alt="slack">
                    <h5>Criação do QR CODE</h5>
                    <p class="text-sm me-2">Os QR CODEs ajudam a chegar em sua página na Internet sem precisar digitar
                        nada. Eles facilitam a divulgação para seus clientes.</p>
                </div>
                <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4"><img class="width-48-px mb-3"
                        src="../assets/img/logos/small-logos/logo-cartao.svg" alt="webdev">
                    <h5>Cartão de Visitas</h5>
                    <p class="text-sm me-2">Como brinde, criamos seu cartão de visitas já com o QR CODE e as informações
                        de contato como endereço, telefone e WhatsApp.</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 text-center"><a href="https://wa.me/5511998417175" target="_blank"><button
                            type="button"
                            class="btn bg-gradient-dark mb-0 ms-lg-auto me-lg-0 me-auto mt-lg-0 mt-6 btn-lg">Comece
                            Agora</button></a></div>
            </div>
        </div>
    </section>
    <section class="py-md-7" id="investimento">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <h3>Investimento:</h3>
                    <p>Com um baixo investimento você coloca sua marca na Internet.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mx-auto text-center mb-5">
                    <h3>Serviços:</h3>
                    <p>Atendimento Humano</p>
                    <p>Gestão do Registro de Domínio</p>
                    <p>Criação de Logotipo</p>
                    <p>Redação de Textos</p>
                    <p>Desenvolvimento da Página Web</p>
                    <p>Inclusão do Botão WhatsApp</p>
                    <p>Gestão da Hospedagem</p>
                    <p>Criação do QR CODE</p>
                    <p>Layout do Cartão de Visitas com o QR CODE</p>
                    </p>
                    <p class="h5"><b>R$ 1000,00</b></p>
                </div>
                <div class="col-md-8 mx-auto text-center mb-5">
                    <h3>Registro do Domínio:</h3>
                    <p>Anual: R$ 70,00</p>
                    <p>Bianual: R$ 120,00</p>
                </div>
                <div class="col-md-8 mx-auto text-center mb-5">
                    <h3>Hospedagem:</h3>
                    <p>Mensal: R$ 60,00</p>
                    <p>Semestral: R$ 300,00 (pagamento à vista)</p>
                    <p>Anual: R$ 480,00 (parcelado em duas vezes)</p>
                </div>
                <div class="col-md-8 mx-auto text-center">
                    <h3>Outros Projetos:</h3>
                    <p>O que falta para seu site decolar? Formulários, Marketing Digital, E-commerce...? Entre em
                        contato que faremos um orçamento personalizado</p>
                </div>
                <div class="col-md-8 mx-auto text-center"><a href="https://wa.me/5511998417175" target="_blank"><button
                            type="button" class="btn bg-gradient-dark mt-3">Comece Agora</button></a></div>
            </div>
        </div>
    </section>
    <hr>
    <footer class="footer pt-7" id="contato">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <p class="mb-4 pb-2">
                    <h3>Promovemos a Inclusão Digital</h3>
                    <br>Arte e Softare Tecnologia
                    <br>Rua Edvard Carmilo, 1283 -
                    Jardim Celeste - Butantã
                    <br>São Paulo - SP
                    <br>CEP 05528-000
                    <br>WhatsApp +55 11 99841-7175
                    <br>E-mail: <a href="mailto:atendimento@aes.tec.br">atendimento@aes.tec.br</a>
                    <br>CNPJ: 08.310.130/0001-32</p>
                </div>
            </div>
            <hr class="horizontal dark mt-lg-5 mt-4 mb-sm-4 mb-1">
            <div class="row">
                <div class="col-8 mx-lg-auto text-lg-center">
                    <p class="mb-5 text-sm text-secondary">Copyright ©
                        <script>document.write((new Date).getFullYear())</script>Arte e Software - Now UI by Creative
                        Tim.&nbsp;<a style="cursor:pointer" data-bs-toggle="modal"
                            data-bs-target="#politicadePrivacidade">Política de Privacidade</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade" id="politicadePrivacidade" tabindex="-1" aria-labelledby="politicadePrivacidadeLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="politicadePrivacidadeLabel">Política de Privacidade</h5><button
                        type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="text-align:left">
                        <p><small>A Arte e Software está comprometida em proteger a privacidade e a segurança das
                                informações pessoais dos usuários de nossos serviços. Esta Política de Privacidade
                                explica como coletamos, usamos, divulgamos e protegemos as informações pessoais de
                                nossos usuários.<br><br>1. Informações Coletadas<br>1.1 Informações Pessoais: Podemos
                                coletar informações pessoais, como nome, endereço de e-mail, número de telefone e
                                informações de pagamento quando você utiliza nossos serviços, faz compras ou interage
                                conosco de outras maneiras.<br>1.2 Informações de Uso: Coletamos informações sobre como
                                você usa nossos serviços, incluindo dados de navegação, páginas visualizadas e tempos de
                                acesso.<br>1.3 Informações do Dispositivo: Podemos coletar informações sobre o
                                dispositivo que você está usando para acessar nossos serviços, como modelo, sistema
                                operacional e identificadores únicos.<br>1.4 Informações de Localização: Se você
                                fornecer permissão, podemos coletar informações de localização para melhorar a
                                experiência do usuário e fornecer serviços baseados em localização.<br>2. Uso das
                                Informações<br>2.1 Fornecimento de Serviços: Utilizamos as informações coletadas para
                                fornecer, manter e melhorar nossos serviços, responder a consultas e processar
                                transações.<br>2.2 Comunicação: Podemos usar suas informações para enviar comunicações
                                relacionadas aos nossos serviços, como atualizações, alertas de segurança e informações
                                sobre novos recursos.<br>2.3 Personalização: Utilizamos as informações para personalizar
                                sua experiência, exibindo conteúdo relevante e oferecendo recomendações com base em suas
                                preferências.<br>2.4 Análise e Melhoria: Analisamos informações coletadas para entender
                                como nossos serviços são utilizados, identificar tendências e realizar melhorias
                                contínuas.<br>3. Compartilhamento de Informações<br>3.1 Parceiros de Negócios: Podemos
                                compartilhar informações com parceiros de negócios para fornecer serviços conjuntos ou
                                aprimorar nossos produtos.<br>3.2 Conformidade Legal: Podemos divulgar informações
                                pessoais em resposta a solicitações legais ou quando exigido por lei.<br>4. Segurança
                                das Informações<br>Implementamos medidas de segurança para proteger suas informações
                                contra acesso não autorizado, uso indevido ou divulgação não autorizada.<br>5. Cookies e
                                Tecnologias Semelhantes<br>Podemos usar cookies e tecnologias semelhantes para coletar
                                informações sobre seu comportamento online e melhorar nossos serviços.<br>6. Seus
                                Direitos<br>Você tem o direito de acessar, corrigir ou excluir suas informações
                                pessoais. Entre em contato conosco para exercer esses direitos.<br>7. Alterações na
                                Política de Privacidade<br>Reservamo-nos o direito de fazer alterações nesta Política de
                                Privacidade. A versão mais recente estará sempre disponível em nosso site.<br>Ao
                                utilizar nossos serviços, você concorda com a coleta e o uso de suas informações
                                conforme descrito nesta Política de Privacidade.<br>Para dúvidas ou preocupações
                                relacionadas à privacidade, entre em contato conosco.<br></small></p>
                    </div>
                </div>
                <div class="modal-footer"><button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Fechar</button></div>
            </div>
        </div>
    </div><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cookieModal"
        id="btnCookieModal" style="display:none">cookies</button>
    <div class="modal fade" id="cookieModal" tabindex="-1" aria-labelledby="cookieModalLabel" aria-hidden="true"
        data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cookieModalLabel">Política de Cookies</h5><button type="button"
                        class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">Armazenamos temporariamente alguns dados para melhorar a sua experiência de
                    navegação. Ao acessar nossos serviços você concorda com a utilização de cookies.</div>
                <div class="modal-footer"><button type="button" class="btn btn-primary"
                        data-bs-dismiss="modal">Concordo</button></div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"><a
        href="https://wa.me/5511998417175" target="_blank" target="_blank">
        <div class="btn-whatsapp pulsaDelay"><i class="fa fa-whatsapp"></i></div>
    </a>
    <script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="../assets/js/plugins/typedjs.js"></script>
    <script src="../assets/js/now-design-system-pro.min.js?v=2.2.0" type="text/javascript"></script>
    <script>let btnCookieModal = document.getElementById('btnCookieModal')
        btnCookieModal.click()</script>

</html>